section.sec1
{
    margin-top: -30vh;
    width: 100%;
    height: 100vh;
    background: url("../img/fond-pro.jpg");
    background-size: cover;
}

section.content
{
    margin: 100px 25% 100px 25%;
    border: 1px solid #D8D4D4;
    padding: 50px 100px 50px 100px;
    color: #855D43;
}

/*
div.btn_devis
{
    display: grid;
    grid-template-columns: auto;
    box-shadow: 0 1px 12px #000000;
    border-radius: 100px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    background: #2A5858;
    width: auto;
    justify-self: center;
}
div.btn_devis p
{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
a
{
    text-decoration: none;
}
.btns
{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a:hover div.btn_devis
{
    background: #316868;
    text-decoration: none;
}
*/

.btns{
    display: inline-block;
    margin-left: 35%;
    margin-bottom: 5%;
    margin-top: -10%;
}
.btn_return-devis
{
    display: inline-block;
    grid-template-columns: auto;
    box-shadow: 0 1px 12px #000000;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background: #2A5858;
    border: none;
    color: white;
    font-size: 1.5em;


    margin-left: 5%;
    margin-top: -10px;

}

/*button:hover
{
    background: #316868;
    text-decoration: none;
}*/
.btn_return-devis a{
    text-decoration: none;
}

.btn_return-devis p
{
    margin-top: 0;
    margin-bottom: 1.5%;
    text-decoration: none;
    color: white;

}
button
{
    display: grid;
    grid-template-columns: auto;
    box-shadow: 0 1px 12px #000000;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background: #2A5858;
    border: none;
    color: white;
    font-size: 1.5em;
    width: auto;
    height: auto;


}

button:hover
{
    background: #316868;
    text-decoration: none;
}

.btn-submit-devis
{
    margin-top: -5%;
    margin-bottom: 2.5%;
}

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
/*.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}*/

.form-style-8 h1{
    text-align: center;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
