@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

*{margin:0;padding:0;}

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav
{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.8s;
    font-size: 1.1em;
}

nav.black
{
    background: #54362A;
    height: 80px;
    padding: 10px 50px;
    box-shadow: 0 1px 12px #000000;
    font-size: 1.1em;
}

nav .logo img
{
    position: center;
    height: 80px;
    transition: 0.5s;
}

nav.black .logo img
{
    height: 60px;
}

nav ul
{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li
{
    list-style: none;
}

nav ul li a
{
    line-height: 60px;
    color: #fff;
    padding: 5px 20px;
    font-family: 'Kulim Park', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.separation1
{
    display: none;
}

.separation2
{
    display: none;
}

nav ul li a:hover
{
    color: #58B8B8;
}

section.sec1
{
    margin-top: -20vh;
    width: 100%;
    height: 120vh;
    background-size: cover;
}

.bss-slides{
    position: relative;
    display: block;
    line-height: 0;/*removes the gap if you put a border on the slideshow div*/
}
figcaption {
    line-height: 1.5; /* restores line-height to the child element*/
}
.bss-slides:focus{
    outline: 0;
}
.bss-slides figure{
    position: absolute;
    top: 0;
    width: 100%;
}
.bss-slides figure:first-child{
    position: relative;
}
.bss-slides figure img{
    opacity: 0;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 120vh;
    background-size: cover;
}
.bss-slides .bss-show{
    z-index: 2;
}
.bss-slides .bss-show img{
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
}

.bss-slides figcaption{
    position: absolute;
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: #000;
    background: rgba(0,0,0, .25);
    border-radius: 2px;
    opacity: 0;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
}
.bss-slides .bss-show figcaption{
    z-index: 3;
    opacity: 1;
}
.bss-slides figcaption a{
    color: #fff;
}
.bss-next, .bss-prev{
    color: #fff;
    position: absolute;
    background: #000;
    background: rgba(0,0,0, .6);
    top: 50%;
    z-index: 4;
    font-size: 2em;
    margin-top: -1.2em;
    opacity: .3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bss-next:hover, .bss-prev:hover{
    cursor: pointer;
    opacity: 1;
}
.bss-next{
    right: -1px;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.bss-prev{
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.bss-fullscreen{
    display: block;
    width: 32px;
    height: 32px;
    background: rgba(0,0,0,.4) url(../img/arrows-alt_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    opacity: .3;
}
.bss-fullscreen:hover{
    opacity: .8;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-webkit-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}
:-moz-full-screen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:-ms-fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    background-size: contain;
}
:fullscreen .bss-fullscreen{
    background: rgba(0,0,0,.4) url(../img/compress_ffffff_64.png);
    -webkit-background-size: contain;
    background-size: contain;
}

section.content
{
    padding: 100px;
    background-color: #C7A789;
}

section.content h1
{
    /*font-family: "Hatorri Hanzo";*/
}

nav.black .separation1
{
    display: block;
    overflow: visible;
    width: 3px;
    height: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transform: matrix(1,0,0,1,0,0);
}


nav.black .separation2
{
    display: block;
    overflow: visible;
    width: 3px;
    height: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transform: matrix(1,0,0,1,0,0);
}


/*section.content p1
{
    margin: 20px 0  0 25%;
    padding-right: 75%;
    font-size: 1.2em;
    color: #FFFFFF;

}*/

.presentation-blocs
{
    margin: 20px 20% 0 0;
}

.presentation-blocs1\&3
{
    margin: 20px 0 0 23%;
    padding-right: 50%;
    font-size: 1.5em;
    color: #FFFFFF;
}

.presentation-blocs2\&4
{
    margin: 20px 0 0 0;
    padding-left: 60%;
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: right;
}

.labels
{
    margin: 0 0 0 20%;
}

section.bande_labels
{
    background-color: #2A5858;
    padding: 30px;
}

.phrase-accroche
{

    padding:  0 20% 0 23%;
    font-size: 2em;
    color: #FFFFFF;

}

section.bande-contact
{
    background-color: #443226;
    padding: 300px 0 300px 0;

}

section.bande-contact h1
{
    color: #FFFFFF;
    font-size: 4em;
    margin: 20px 0 0 0;
}

.contact
{
    margin-left: 15%;
    color: #FFFFFF;
    font-size: 1.2em;
    display: inline-block;

}

.carte
{
    box-shadow: 0 1px 12px #000000;
    border: none;
    float: right;
    margin-top: -60px;
    margin-right: 15%;
    display: inline-block;

}

.responsive-bar
{
    display: none;
}

@media(max-width: 768px) {

    .responsive-bar
    {
        display: block;
        width: 100%;
        height: 60px;
        background: #54362A;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        z-index: 1;
        box-shadow: 0 1px 12px #000000;
    }

    .responsive-bar .logo img
    {
        float: left;
        height: 40px;
    }

    .responsive-bar .menu img
    {
        float: right;
        height: 40px;
    }

    nav
    {
        height: 60px;
    }

    nav.black
    {
        background: #54362A;
        height: 60px;
        box-shadow: none;
    }

    nav .logo
    {
        display: none;
    }

    nav ul
    {
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #54362A;
        float: none;
        display: none;
    }

    nav ul.active
    {
        display: block;
    }

    nav ul li
    {
        width: 100%;
    }

    nav ul li a
    {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 50px !important;
        text-transform: uppercase;
    }
}
