@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav
{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.8s;
    font-size: 1.1em;
}

nav.black
{
    background: #54362A;
    height: 80px;
    padding: 10px 50px;
    box-shadow: 0 1px 12px #000000;
    font-size: 1.1em;
}

nav .logo img
{
    position: center;
    height: 80px;
    transition: 0.5s;
}

nav.black .logo img
{
    height: 60px;
}

nav ul
{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li
{
    list-style: none;
}

nav ul li a
{
    line-height: 60px;
    color: #fff;
    padding: 5px 20px;
    font-family: 'Kulim Park', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.separation1
{
    display: none;
}

.separation2
{
    display: none;
}

nav ul li a:hover
{
    color: #58B8B8;
}

section.sec1
{
    margin-top: -20vh;
    width: 100%;
    height: 120vh;
    background: url("../img/fond-accueil.png");
    background-size: cover;
}

section.content
{
    padding: 100px;
    background-color: #C7A789;
}

section.content h1
{
    /*font-family: "Hatorri Hanzo";*/
}

nav.black .separation1
{
    display: block;
    overflow: visible;
    width: 3px;
    height: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transform: matrix(1,0,0,1,0,0);
}


nav.black .separation2
{
    display: block;
    overflow: visible;
    width: 3px;
    height: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transform: matrix(1,0,0,1,0,0);
}


/*section.content p1
{
    margin: 20px 0  0 25%;
    padding-right: 75%;
    font-size: 1.2em;
    color: #FFFFFF;
}*/

.presentation-blocs
{
    margin: 20px 20% 0 0;
}

.presentation-blocs1\&3
{
    margin: 20px 0 0 23%;
    padding-right: 50%;
    font-size: 1.5em;
    color: #FFFFFF;
}

.presentation-blocs2\&4
{
    margin: 20px 0 0 0;
    padding-left: 60%;
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: right;
}

.labels
{
    margin: 0 0 0 20%;
}

section.bande_labels
{
    background-color: #2A5858;
    padding: 30px;
    box-shadow: 0 1px 12px #303030 inset;
}

.phrase-accroche
{
    padding:  0 20% 0 23%;
    font-size: 2em;
    color: #FFFFFF;
}

section.bande-contact
{
    background-color: #443226;
    padding: 200px 0 300px 0;
    box-shadow: 0 1px 12px #000000;

}

section.bande-contact h1
{
    color: #FFFFFF;
    font-size: 4em;
    margin: 20px 0 0 0;
}

.contact
{
    margin: 0 0 0 10%;
    color: #FFFFFF;
    font-size: 1.2em;
    display: inline-block;

}

.carte
{
    box-shadow: 0 1px 12px #000000;
    border: none;
    float: right;
    margin-right: 10%;
    display: inline-block;
}

div.docs img
{
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: -50px;
}

div.btn_devis
{
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0 1px 12px #000000;
    border-radius: 100px;
    padding: 10px 30px 10px 30px;
    background: #2A5858;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

div.btn_devis p
{
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    margin-left: 120px;
    margin-top: 15px;
    display: inline-block;
}

a
{
    text-decoration: none;
}

a:hover div.btn_devis
{
    background: #316868;
    text-decoration: none;
}

section.footer
{
    box-shadow: 0 1px 12px #000000;
    background-color: #54362A;
    padding: 120px 0 10px 0;
    color: #FFFFFF;
    font-size: 1.1em;
    font-family: 'Kulim Park', sans-serif;
}

section.footer a
{
    text-decoration:none;
    color: #FFFFFF;
    font-size: 1.1em;
    font-family: 'Kulim Park', sans-serif;
}

section.footer a:hover
{
    color: #58B8B8;
    text-decoration:none;
    font-size: 1.1em;
    font-family: 'Kulim Park', sans-serif;
}

.sommaire-presta
{
    margin-left: 12%;
    display: inline-block;
    color: #FFFFFF;

}

.recrutement-devis-footer
{
    float: right;
    margin: -20px 12% 0 0;
    display: inline-block;
}

.icones-footer
{
    margin:  -5% 0 0 44%;

}

.logo-abc-footer
{
    margin:  -5% 0 0 39%;
}

.copyright-footer
{
    margin-top: 125px;
    margin-left: 50px;
}

.responsive-bar
{
    display: none;
}

@media(max-width: 768px) {

    .responsive-bar
    {
        display: block;
        width: 100%;
        height: 60px;
        background: #54362A;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        z-index: 1;
        box-shadow: 0 1px 12px #000000;
    }

    .responsive-bar .logo img
    {
        float: left;
        height: 40px;
    }

    .responsive-bar .menu img
    {
        float: right;
        height: 40px;
    }

    nav
    {
        height: 60px;
    }

    nav.black
    {
        background: #54362A;
        height: 60px;
        box-shadow: none;
    }

    nav .logo
    {
        display: none;
    }

    nav ul
    {
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #54362A;
        float: none;
        display: none;
    }

    nav ul.active
    {
        display: block;
    }

    nav ul li
    {
        width: 100%;
    }

    nav ul li a
    {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 50px !important;
        text-transform: uppercase;
    }


}
