@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

h1
{
    position: fixed;
    font-size: 1.8em;
    color: #155959;
    margin-top: 4vh;
    margin-left: 10vh;
    font-family: 'Kulim Park', sans-serif;
}

p
{
    margin-top: 10%;
    margin-left: 40%;
}