section.sec1
{
    margin-top: -30vh;
    width: 100%;
    height: 100vh;
    background: url("../img/fond-pro.jpg");
    background-size: cover;
}

section.content
{
    margin: 100px 25% 100px 25%;
    padding: 50px 100px 50px 100px;
}